<h1>Edit an Existing Photo</h1>

<!-- Why are we hardcoding this form action to photo id 4? Can/should this by dynamic (:id) or using an instance variable? -->
<form action="http://localhost:3000/update_photo/:id">
  <div>
    <label for="photo_caption">Caption:</label>
    <input type="text" name="the_caption" value="<%= @photos.caption %>">
  </div>

  <div>
    <label for="photo_id">ID:</label>
    <input type="text" name="the_id" value="<%= @photos.id %>">
  </div>

<!--   <div>
    <label for="photo_image_url">Image URL:</label>
    <input type="text" name="the_source" value="<%= @photos.source %>">
  </div> -->

  <div>
  <input type="submit" value="Update photo">
  </div>
</form>
