<!DOCTYPE html>
<html>
<head>
  <title>Photogram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <a href="/">Photo List</a> | <a href="/photos/new">Add Photo</a> | <a href="/photos/1">Photo Details</a>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
